[Unit]
Description=RocketChat Server
After=network.target remote-fs.target nss-lookup.target mongod.target nginx.target

[Service]
User=__APP__
Group=__APP__
ExecStart=__YNH_NODE__ __FINALPATH__/main.js
Restart=always
RestartSec=10
StandardOutput=syslog 
StandardError=syslog
SyslogIdentifier=nodejs-example
Environment=NODE_ENV=production PORT=__PORT__ ROOT_URL=https://__DOMAIN__ MONGO_URL=mongodb://localhost:27017/__APP__

[Install]
WantedBy=multi-user.target
